name: Automated Testing

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.8

    - name: Install dependencies
      run: |
        # Change to the "Activity" directory where 'requirements.txt' is located
        cd Activity

        # Ensure the 'requirements.txt' file exists
        if [ -f "requirements.txt" ]; then
          pip install -r requirements.txt
        else
          echo "requirements.txt not found in the 'Activity' directory."
          exit 1  # Exit with an error code
        fi

    - name: Run tests
      run: |
        # Change to the "Activity" directory where tests are located
        cd Activity

        # Run tests using pytest
        pytest
