name: CI/CD - React Native

on:
  push:
    branches:
      - main  # Adjust the branch name as needed

jobs:
  test:
    name: Run Unit Tests
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Node.js
      uses: actions/setup-node@v2
      with:
        node-version: 14  # Choose the desired Node.js version

    - name: Install React Native CLI
      run: npm install -g react-native

    - name: Install dependencies
      run: npm install

  deploy:
    name: Deploy to Production
    needs: test
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Node.js
      uses: actions/setup-node@v2
      with:
        node-version: 14  # Choose the desired Node.js version

    - name: Install React Native CLI
      run: npm install -g react-native

    - name: Install dependencies
      run: npm install

    - name: Build and Run the App on Android
      run: |
        npx react-native run-android
      working-directory: ./Activity

 
